.contact {
  padding: 100px 20px;
}
textarea,
input {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid#f0e9ff;
  border-radius: 5px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  color: #495057;
}

textarea:focus,
input:focus {
  outline: 0;
  box-shadow: none;
}

.half-row {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.contact-firstname {
  padding-right: 30px;
}
.contact-email {
  padding-left: 30px;
}

.contact-send {
  margin-top: 50px;
}
