/* Main Section styles */

.main-banner {
  background: url("../Images/home-banner.png") no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
  box-sizing: border-box;
}

.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  color: #8f9193;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.main-section__introduction {
  font-size: 60px;
  font-weight: 500;
  color: #212529;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-section__position {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
  color: #212529;
}

/* Main-section__social-Network style */

.main-section__social-networks a {
  font-size: 20px;
  margin-right: 16px;
  display: inline-block;
  cursor: pointer;
  color: #53bff6;
}
.main-section__social-networks a:hover i {
  color: blueviolet;
}

.main-section__action {
  margin-top: 30px;
}

/* Statistics styles */
.statistics {
  padding-top: 100px;
}

.statistics__item {
  display: inline-block;
  background-color: #f3f3f3;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
  width: 150px;
}

.statistics__number {
  color: #06bcd4;
  font-size: 27px;
  margin-bottom: 5px;
}

.statistics__title {
  font-size: 15px;
  color: #06bcd4;
  font-weight: 300px;
}

/*  About Me section */
.about-me {
  padding: 100px 0;
}

.about-me > div {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.about-me__image img {
  width: 90%;
}

.about-me__info {
  width: 100%;
  margin-top: 50px;
}

.about-me__subtitle {
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #888888;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-me__position {
  margin-top: 4px;
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
}

.about-me__description {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #888888;
}

.about-me__action {
  margin-top: 30px;
}

/* Services section styles */
.services {
  padding-top: 100px;
}

.services__items {
  margin-top: 50px;
}

.services__item {
  padding: 60px 30px;
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  background-color: #f9faff;
  box-sizing: border-box;
}

.services__title {
  font-size: 20px;
  font-weight: 700;
  color: #04364d;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services__description {
  font-size: 16px;
  font-weight: 300;
  color: rgb(136, 136, 136);
  line-height: 27px;
}

.services__link {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #04364d;
}
.services__item:hover {
  background-color: #5f30ff;
}

.services__item:hover .services__description,
.services__item:hover .services__link,
.services__item:hover .services__title {
  color: #ffffff;
}

/* Clients section style */
.clients {
  padding-top: 70px;
}

.clients div {
  width: 50%;
  float: left;
}

.clients-images img {
  margin-top: 10px;
  width: 80%;
}

.clients-info {
  margin-top: 50px;
}

.client-name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #212529;
  margin-bottom: 3px;
}

.client-position {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}

.client-review {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(136, 136, 136);
}

.client-rate {
  color: #ffd804;
  text-decoration: none;
}

/* Portfolio section styles */

.portfolio {
  padding: 100px 0px;
}

.portfolio-items {
  position: relative;
  margin-top: 50px;
}

.portfolio-item {
  display: inline-block;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  cursor: pointer;
}

.portfolio-item-1 {
  padding-left: 0px;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item-2 {
  position: absolute;
  top: 0;
  right: 0px;
}

.portfolio-item-3 {
  position: absolute;
  top: 311px;
  right: 0px;
}

.portfolio-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: #5f30ff;
  visibility: hidden;
  z-index: 1;
}

.portfolio-info {
  position: absolute;
  bottom: 50px;
  left: 80px;
  color: white;
  visibility: hidden;
  z-index: 1;
}

.portfolio-info a {
  color: white;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  cursor: pointer;
  top: 20px;
  left: 20px;
}

.portfolio-item:hover .portfolio-info {
  visibility: visible;
  bottom: 50px;
  left: 80px;
}

.portfolio-rate {
  margin-top: 50px;
  list-style: none;
  padding-left: 0px;
  cursor: pointer;
}

.portfolio-rate li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 400;
}

.portfolio-rate li:hover,
.portfolio-rate li.active {
  color: rgb(19, 69, 230);
}

/* My blog section styles */

.blog {
  padding-top: 100px;
}

.blog-items {
  margin-top: 50px;
}

.blog-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  box-sizing: border-box;
}
.blog-item-image img {
  width: 100%;
}

.blog-item-info span {
  font-size: 14px;
  font-weight: lighter;
  margin-right: 30px;
}

.blog-item-info i {
  font-weight: lighter;
  font-size: 15px;
  margin-right: 5px;
}
.blog-item-info {
  padding: 10px;
  background-color: #f9faff;
  color: rgb(136, 136, 136);
}
.blog-item-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  color: #05364d;
}

.blog-item-description {
  line-height: 27px;
  font-size: 16px;
  font-weight: lighter;
  box-sizing: border-box;
  color: #797979;
}

.blog-item-learn-more {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  display: inline-block;
  position: relative;
}

.blog-item-learn-more:hover {
  color: #ed239f99;
  cursor: pointer;
}

.blog-item-info span:hover {
  color: #5f30ff;
}

.blog-item:hover .blog-item-image {
  box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item-info {
  background-color: #ffffff;
}

/* Partners section styles */

.partners {
  padding-top: 100px;
}

.partners-item {
  display: inline-block;
  padding: 0px 30px;
}
